/* Global Formatting */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,900,900i&subset=latin-ext');
*{margin: 0; padding: 0; font-family: 'Lato', sans-serif; box-sizing: border-box;}
section{width: 98vw; min-height: 100vh; margin: 0 auto;}
/* Main Colors:
  Inicio - Teal
  Bio - Yellow
  Projetos - Red-Orange
  Contatos - Purple
*/

/* Menu */
nav{width: 75vw; height: 40px; margin: 0 auto; text-align: end;}
#menu{list-style: none;}
.menu-inicio        {color: #00ffff; display: inline-block; padding: 10px 10px; padding-left: 0;}
.menu-bio           {color: #ff00ff; display: inline-block; padding: 10px 10px;}
.menu-projetos      {color: #dada00; display: inline-block; padding: 10px 10px;}
.menu-contato       {color: #000000; display: inline-block; padding: 10px 10px; padding-right: 0;}
#menu a{color: inherit; text-decoration: none; text-transform: uppercase; font-weight: 400; font-size: .8em;}
#menu a:hover{font-weight: bolder; text-decoration: underline;}
/* Inicio */
#inicio{}